<ion-view title="Mike's Portfolio" id="page2" style="background-color:#A7CACC;">
  <ion-content padding="true" class="has-header">
    <h4 id="mikeSPortfolio-heading2" style="color:#000000;">The following websites were made by me</h4>
    <div id="mikeSPortfolio-button-bar1" class="button-bar">
      <a href-inappbrowser="http://54.202.89.54/wordpress/" id="mikeSPortfolio-button4" class="button button-stable  button-block icon-left ion-link">WordPress</a>
      <a href-inappbrowser="http://54.202.89.54/Bootstrap/bootstrap" id="mikeSPortfolio-button5" class="button button-stable  button-block icon-left ion-link">Bootstrap</a>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="mikeSPortfolio-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="mikeSPortfolio-slide24" style="background:url(&quot;img/UG63TEleQAiPa5eWMvcO_1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="mikeSPortfolio-slide25" style="background:url(&quot;img/8uf564O3RumJ9DH7Hle2_bear.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="mikeSPortfolio-slide26" style="background:url(&quot;img/xBaAJUPkSA6iWUszfgaF_fish.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>